
# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
*.gate.lock*

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM
*.xcuserstate

# Swift Package Manager
.build/
.build/checkouts
Packages/
*.swp
Package.pins
.swiftpm

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
